

.c-todo__section {
	position: relative;
	color: #666;
	margin: 10px auto;
	max-width: 600px;
	padding: 10px;
}
.c-todo__input {
	width: 100%;
	border-radius: 2em;
	padding: 10px 20px;
}
.c-todo {
	&:focus {
		border: solid 1px $color;
	}
	&:hover {
		color: $color;
		background-color: transparent;
	}
}
.c-todo__icon {
	position: absolute;
	color: #ccc;
	right: 0;
	background-color: transparent;
	border: 0;
	line-height: 0;
	width: 60px;
	height: 40px;
}
.c-todo__list {
	padding: 0 20px;
}
.c-todo_item {
	margin: 0 auto;
	height: 100px;
	line-height: 100px;
	border: solid 1px gray;
	padding: 0 0px;
	cursor:pointer;
	
}
